.tabStyle {
    color: yellow,
}
.tabsRoot {
    min-height: 0px !important;
    min-width: 0px !important;
}

.tabRoot {
    padding: 8px 10px !important;
    min-height: 0px !important;
    min-width: 0px !important;
}

.tabWrapperLeft {
    width: 64px !important;
    min-width: 0px !important;
    font-size: 12px;
    font-family: Open Sans !important;
    font-weight: 600;
    text-transform: none;
}

.tabWrapperSelected {
    color: blue !important;
}

.tabIndicator {
    height: 2px !important;
    background-color: blue !important;
    border-radius: 2px;
}
